<div class="container mt-5">  
    <div class="login-form">
        <h2 class="text-page">Inicio sesión</h2>
        @if(loginForm){
        @if(errorMessage){
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        }
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" class="form-control" formControlName="email">
                @if(loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched){
                <p class="invalid-feedback d-block">Correo electrónico es obligatorio</p>
                }
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" class="form-control" formControlName="password">
                @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched){
                <p class="invalid-feedback d-block">Contraseña es obligatoria</p>
                }
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
            </div>

        </form>
        }
        <div class="register-button">
            <a href="create-account" (click)="registrePage()" class="register-link">Registrate</a>
          </div>

    </div>
</div>